<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news_item.title %>
</p>

<p>
  <b>Url:</b>
  <%= @news_item.url %>
</p>

<p>
  <b>Image:</b>
  <%= @news_item.image %>
</p>

<p>
  <b>Description:</b>
  <%= @news_item.description %>
</p>


<%= link_to 'Edit', edit_news_item_path(@news_item) %> |
<%= link_to 'Back', news_items_path %>
